body {
    font-family: Roboto, sans-serif;
}
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

.css-selector {
    font-family: Roboto, sans-serif;
    }
  
  .jumbotron {
    background: rgb(109,6,158);
    background: linear-gradient(90deg, rgba(109,6,158,1) 9%, rgba(49,93,177,1) 63%, rgba(7,143,214,1) 93%);
    color: white;
    justify-content: center;
    text-align: center;
    border-radius: 0;
    margin: 0;
  }
  .jumbotron-fluid {
    background: rgb(251,251,251);
    background: linear-gradient(0deg, rgba(251,251,251,1) 0%, rgba(176,127,245,1) 73%);
  }

  .bannerimage {
    position: absolute;
    left: 250px;
    top: 375px;
  }

  .leadbanner {
    font-size: 25px;
  }
  
  h3 {
    font-weight: 100;
  }
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .marketing h2 {
    font-weight: 100;
  }
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  
  /* Featurettes
  ------------------------- */
  
  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  .featurette-heading h4 {
    font-weight: 100;
    line-height: 1;
    letter-spacing: -.05rem;
  }
.lead {
    color: #626262;
    font-size: 16px;
}
  .row .lead p {
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}
  .row .card {
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
  }
  
  .wrapper {
    text-align: center;
    font-weight: 100;
  }

  .mb-0 {
    color: black;
    font-size: 18px;
  }

  .card-header {
    background-color: white;
    color: #626262;
  }

  .card-body p {
    color: #626262;
  }

  h4 {
    font-size: 18px;
  }
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) {
    /* Bump up size of carousel content */

  
    .featurette-heading {
      font-size: 25px;
    }
  }
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }
  }
  